.button{ 
	background-color:#f3a600;
	color:rgb(255, 255, 255);
	position: absolute;
	font-family: creepster;	
	width:110px;
	height:30px;
	left: 829px;
	top:511px;
	object-position: left;
	margin: auto;

	appearance: auto;
	border-top-left-radius:75px;
	border-top-right-radius:75px;
	border-bottom-left-radius:75px;
	border-bottom-right-radius:75px;
	
} 



 
.rectangle {
    width: 48rem;
    height: 21rem;
    background: grey;
    position: absolute;
    border-radius: 35px;
    left: 315px;
    top: 274px;

    border-width: medium;
    border-style: solid;
    border-color: black;
    object-position: left;
    margin: auto;
}

  @import url(images/linkedin.png);
img {
    border-radius: 50%;
    width:200px;
	height:200px;
    position: absolute;
    left:366px;
	top:334px;
	border-width: medium;
  border-style: solid;
  border-color:black;
  
  object-position: left;
  display:flex;

  }
  
/*#img2 {
    border-radius: 50%;
    width:50px;
	height:50px;
    position: absolute;
    left:95px;
	top:700px;
	border-width: medium;
  border-style: solid;
  border-color:black;

 

  }*/

  h2 { 
	color:black;
    width: 434px;
    left:583px;
     top:330px;
    font-family:inter;
    font-size: 18px;
    margin: auto;
	object-position: left;
    text-align: justify;
    position:absolute;
}        


body{
 background: black;
 color:white;
 font-weight: 500;
 min-width: 140vh;

 

}

* {  
	margin: 0;
	padding:  0;
	box-sizing:border-box;
		   }


a{
	text-decoration: none;
	color: inherit;
   }



   .font{ 
	color:rgb(255, 255, 255),initial;
	width:74px;
	height:29px;
    position: absolute;
	left:13px;
	top:2px;
	font-family:Creepster;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
	
}


.head {
	display:block;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: auto;
	background-color:black;
	font-family:Creepster;
	

  }
  
  li {
	float: left;
  }
  
  li a {
	display: block;
	color: #c62c67;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family:Creepster;
  }
  

  li a:hover {
	background-color: rgb(48, 46, 46);
  }



  header,footer {
    width: 100%;
    padding:20px;
    justify-content:center;
    align-items:center;
    background: #000000;
    color: #ffffff;
    box-sizing: border-box;
	position:absolute;
	top:708px;
	left:0em;
	object-position: left;
	margin:auto;
	display:flex;
	
	
}


section {
    width: auto;
    margin: 0;
}



@media only screen and (min-width: 375px) and (max-width: 1200px) {
	ul {
		width:100%;
		position: absolute;
	  }

	  .rectangle {
		width: 21rem;
		height: 34rem;
		left: 22px;
		top: 73px;
	
	}

	img {
		border-radius: 50%;
		width: 100px;
		height: 100px;

		left: 131px;
		top: 91px;
	}

	h2 {
		color: black;
		width: 434px;
		left: 44px;
		/* top: 288px; */
		top: 199px;
		font-family: inter;
		font-size: 18px;
		margin: auto;
		object-position: left;
		text-align: justify;
		position: absolute;
		font-weight: bold;
	}
	 
	.button {
 
		width: 134px;
		height: 79px;
		left: 120px;
		top: 478px;
	 
	  }



	a {
		font-family:inter;
		font-size: 20px;
		font-weight: bold;
	}
}
