

font{ 
	color:rgb(255, 255, 255);
	width:74px auto ;
	height:29px auto ;
	/*position:absolute;*/
	left:13px ;
	top:2px ;
	font-family:Creepster;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
	text-align: justify;
}

a{
	text-decoration: none;
	color: inherit;
   }


head {
    display:block;
}


     
/*body {
	min-width: 100vw;
	min-height: 100vw;
	background:black;
	display:block;
	
}



*  {  
	margin: 0;
	  padding:  0;
	 box-sizing: content-box;
	 display:block;

		   }*/


.background{ 
	width:100%;
	height:100%;
	left:auto;
	top:auto;
	background-image:url(images/background.png);
	mask-border-source: initial;
	
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	opacity: 0.6;
	margin:auto;
	position: absolute;
	display: flex;
}





ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: auto;
	background-color:transparent;
	font-family:Creepster;
	margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
  
  li {
	float: left;
  }
  
  li a {
	display: block;
	color: #c62c67;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family:Creepster;
  }
  

  li a:hover {
	background-color: rgb(48, 46, 46);
  }



  header,footer {
    width: 100%;
    padding:18px;
    display:flex;
    justify-content:center;
    align-items:center;
    background: #000000;
    color: #ffffff;
    box-sizing: border-box;
	position:absolute;
	top :810px;
	left:auto;
	object-position: left;
	margin:auto;
	
	;
}


section {
    width: auto;
    margin: 0;
}

.h2 {
    color: rgb(241, 56, 118);
    width: 434px;
    left: auto;
     top:100px;
    font-family: Creepster;
    font-size: 35px;
    margin: auto;
	object-position: left;
    text-align: justify;
    position: relative;
	
}

.button{ 
	background-color:#c62c67;
	color:rgb(255, 255, 255);
	font-family:Creepster;
	width:100px;
	height:33px;
	left:190px;
	object-position: left;
     top: 125px;
	margin: auto;
	position:absolute;
	border-top-left-radius:75px;
	border-top-right-radius:75px;
	border-bottom-left-radius:75px;
	border-bottom-right-radius:75px;
	appearance: auto;
}



@media only screen and (min-width: 375px) and (max-width: 1200px) {

	.button{ 
		width: 100px;
		height: 33px;
		left: 196px;
		 top:124px;
		 color:white;
	}

	.background{ 
		width:100%;
		height:100%;
		background-image:url(images/michael-myers-apresentacao.jpg);
    }

}

@media only screen and (min-width: 360px) and (max-width: 1200px) {

	.button{ 
		width: 70px;
		height: 27px;
		left: 184px;
		 top:45px;
		 color:white;
	}

	.background{ 
		width:100%;
		height:100%;
		background-image:url(images/michael-myers-apresentacao.jpg);
    }
	
	.h2 {
		color: rgb(241, 56, 118);
		width: 350px;
		left: 2px;
		 top:100px;
		font-family: Creepster;
		font-size: 20px;
		margin: auto;
		object-position: left;
		text-align: justify;
		position: relative;
		
	}
	

}
@media only screen and (min-width: 280px) and (max-width: 653px) {

	.button{ 
		width: 70px;
		height: 27px;
		left: 184px;
		 top:45px;
		 color:white;
	}

	.background{ 
		width:100%;
		height:100%;
		background-image:url(images/michael-myers-apresentacao.jpg);
    }
	
	.h2 {
		color: rgb(241, 56, 118);
		width: 350px;
		left: 2px;
		 top:100px;
		font-family: Creepster;
		font-size: 20px;
		margin: auto;
		object-position: left;
		text-align: justify;
		position: relative;
		
	}
	

}
